{% extends 'baseSecurity.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('heykeep/css/login.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
	<div class="container-login100">
		<div class="limiter_forgotten d-flex justify-content-center align-items-center flex-column px-5 py-5 bg-white rounded">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="{{ asset('heykeep/img/heykeep_logo.png') }}" alt="logo">
			</div>
			<div class="loginsmall js-tilt " data-tilt>
				<img src="{{ asset('heykeep/img/logo-responsive.png') }}" alt="logo mobile">
			</div>
			<h2 class="login100-form-title mt-5">
				mot de passe oublié ?
			</h2>
			<form class="login100-form validate-form" method="post" id="forgotten_password">
				<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
					<input type="text" name="email" id="inputEmail" class="input100" required autofocus>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
				</div>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Réinitialiser le mot de passe
					</button>
				</div>

			</form>
			<div id="messages" role="alert"></div>
		</div>

	

	{% endblock %}

	{% block javascripts %}
		<script src="{{ asset('heykeep/js/resetPassword.js') }}"></script>
	{% endblock %}
