{% extends 'base.html.twig' %}

{% block title %}New Bloc{% endblock %}

{% block body %}
    <h1 class="red_text">uploadez un fichier</h1>

    {{ include('bloc/_form.html.twig') }}

    <a class="red_text" href="{{ path('bloc_index') }}">Retour</a>
{% endblock %}
