<form method="post" action="{{ path('space_delete', {'id': space.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet espace ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ space.id) }}">
    <button class="btn btn-unique btn-sm">Supprimer</button>
</form>
