{% extends 'base.html.twig' %}

{% block title %}Mes espaces{% endblock %}

{% block body %}

    <button id="back-to-list-space" type="button" class="btn btn-primary px-3" style="display: none;" onclick="displayFadeToggle('#master-detail');displayFadeToggle('#listmaster');displayFadeToggle('#back-to-list-space');"> <i class="fas fa-th-list" aria-hidden="true"></i> Liste des espaces</button>
    <button type="button" class="btn btn-primary px-3" onclick="callAjaxMasterDetail('{{ path('space_new')}}','#master-detail','#listmaster', '#back-to-list-space');"><i class="fas fa-plus" aria-hidden="true"></i> Nouvel Espace</button>
    <div class="container my-5 py-5 z-depth-1">

        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
            <!--Grid row-->
            <div id="listmaster" class="row justify-content-center">

                <h1>Liste des espaces</h1>
                <h2>En tant que Membre</h2>
                        {%  include 'space/spaces.html.twig' with {'foo': spacesMember}  %}
                <h2>En tant que administrateur</h2>
                        {%  include 'space/spaces.html.twig' with {'foo': spacesOwner}  %}
            </div>
            <div id="master-detail"></div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('heykeep/js/space.js') }}"></script>{% endblock %}



