.welcome {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #323441;
}
h2{
    font-size: 2.5em;
}
h3{
    font-family: 'Chillow';
}
.dashboard-pic img{
    max-width: 100%;
}
@media (max-width: 992px) {
    .dashboard-pic img{
         display: none;
    }
}
.bg-beige{
    background-color: rgba(228, 221, 211, 0.6);
}
img{
    max-width: 100%;
}
.space-description .list-inline-item img{
    max-width: 30px;
    max-height: 30px;
}
.card-dash{
    border-radius: 40px;
}
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #D74850;
    border: none !important;
    border-radius: 40px;

}
.nav-link {
    color: #323441;
    padding: .5rem .5rem;
}
.nav-link:hover{
    color: #d74850;
}
.nav-tabs {
    border-bottom: transparent;
}
.mb-150{
    margin-bottom: 150px;
}
.card{
    transition: all ease-in-out 0.2s;
}
.card:hover{
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    transform: scale(1.03);

}
