/*header*/
header {
    background-color: #EEEEEE ;
}
.logo img {
    max-height: 4rem;
}
.navbar .nav-item .nav-link .fas{
    font-size: 2.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.fa-cog {
    color: #D74850;
}

.avatar img {
    max-height: 4rem;
}

/*footer*/
footer {
    background-color: #EEEEEE ;
}
.fa-cloud-upload-alt {
    color: #D74850;
}
.badge {
    background-color: #D74850;
    position: absolute;
    top: 11px;
    z-index: 1;
}