<footer class="fixed-bottom">
    <nav class="navbar justify-content-between">
        <div class="text-center py-3">© 2020 Copyright:
            <a href="#">Heykeep</a>
        </div>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <span class="badge badge-pill">2</span>
                <a class="nav-link waves-effect waves-light">
                    <i class="fas fa-bell"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="fas fa-comment-dots"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="fas fa-cloud-upload-alt"></i>
                </a>
            </li>
        </ul>
    </nav>

</footer>