<footer class="fixed-bottom">
    <nav class="navbar justify-content-between">
        <div class="text-center py-3">© 2020 Copyright:
            <a href="{{path ('dashboard')}}">Heykeep</a>
        </div>
        <div class="col-sm-6">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item px-1" >
                    <a href="{{path ('categorie_index')}}" class="nav-link waves-effect waves-light"  data-toggle="tooltip" data-placement="top" title="Catégories">
                        <i class="fas fa-align-left"></i>
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a href="{{path ('space_index')}}" class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Espaces">
                        <i class="fas fa-compress"></i>
                    </a>
                </li>
                <li class="nav-item px-1">
                    <span class="badge badge-pill">2</span>
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Notifications">
                        <i class="fas fa-bell"></i>
                    </a>
                </li>
                <li class="nav-item px-1" data-toggle="modal" data-target="#fullHeightModalRight">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Messagerie">
                        <i class="fas fa-comment-dots"></i>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link waves-effect waves-light" data-html="true" data-toggle="tooltip" data-placement="top" title="Nouveau <em>texte, image, lien</em>" onclick="callAjaxPopup('{{ path('bloc_new') }}');" href="#">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </a>
                </li>
            </ul>
        </div>

    </nav>

</footer>
