{% extends 'base.html.twig' %}
{% block title %}Space Creation{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('heykeep/css/spacescreation.css') }}" rel="stylesheet" type="text/css">{% endblock %}
{% block body %}
   <div class="container my-5 py-5 z-depth-1">

    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-6">

          <!-- Default form subscription -->
          <form class="text-center" action="#!">

            <p class="h4 mb-4">Création espace</p>

            <p>Toi aussi crée ton espace !</p>

            <!-- Name -->
            <input type="text" id="space_creation_name" class="form-control mb-4" placeholder="Nom de ton espace">

            <!-- Description -->
            <input type="text" id="space_creation_description" class="form-control mb-4" placeholder="Description">

            <!-- Category -->
            <input type="text" id="space_creation_category" class="form-control mb-4" placeholder="Categorie">

            <!-- Invitation -->
            <input type="text" id="space_creation_invitation" class="form-control mb-4" placeholder="Invitation">

            <!-- Sign in button -->
            <button class="btn btn-info btn-block" type="submit">Créer</button>


          </form>
          <!-- Default form subscription -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>
{% endblock %}

